{
    "tabWidth": 4,
    "semi": true,
    "singleQuote": true,
    "svelteSortOrder": "styles-scripts-markup",
    "svelteStrictMode": true,
    "svelteBracketNewLine": true,
    "svelteAllowShorthand": false,
    "trailingComma": "all",
    "overrides": [
        {
            "files": "*.svelte",
            "options": {
                "printWidth": 100
            }
        },

        {
            "files": "*.yml",
            "options": {
                "tabWidth": 2
            }
        }
    ]
}
